bind ${BIND_ADDRESS}
port ${PORT}
protected-mode no
cluster-enabled yes
cluster-config-file nodes.conf
cluster-node-timeout 5000
appendonly yes
dir /redis-data/${PORT}
cluster-announce-hostname redis-cluster-node-${PORT}

